<div class="container">
  <h2>User info</h2>

  <%= form_with model: @user, local: true do |f| %>

    <!-- ▼ エラーメッセージ：form の先頭が定番 -->
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <p><%= @user.errors.count %> errors prohibited this user from being saved:</p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :profile_image, "Image", class: "d-block" %>
      <%= f.file_field :profile_image %>
    </div>



    <div class="form-group">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: "form-control" %>
    </div>

    <%= f.submit "Update User", class: "btn btn-secondary" %>
  <% end %>
</div>
