<!-- app/views/users/show.html.erb -->
<div class="container">
  <div class="row">
    <!-- 左：User info + New book -->
    <div class="col-md-3">
      <%= render "users/userinfo", user: @user %>
      <%= render "books/newbook", book: @book %>
    </div>

    <!-- 右：ユーザの投稿一覧（右端に Edit / Destroy） -->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>

              <!-- 右端：Edit / Destroy（本人の投稿のみ） -->
              <td class="text-end" style="white-space: nowrap; width: 20%;">
                <% if book.user == current_user %>
                  <%= link_to "Edit", edit_book_path(book), class: "btn btn-success btn-sm" %>

                  <%= link_to "Destroy",
                              book_path(book),
                              data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                              class: "btn btn-danger btn-sm ms-2" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
